/*Custom properties*/
:root{
    --main-color: #b91450;
}

/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--main-color);
}

body{
    background-color: var(--main-color);
}

h2{
    color: white;
}

section{
    background-color: white;
}